<h1>Pizzabulous</h1>
<p>Scraping the cheese off NYC Pizza since 2018</p>

<br/>

<form action="/" method="get">
  How many pizza results do you want?: <input type="text" name="reviews" value="{{ num_of_reviews }}">
  <input type="submit" value="Submit">
</form>

<h2>Results</h2>
<ul>
{% for review in reviews %}
    <li style='width:400px;'>
    <div style='width:150px;'>
      {% if 'rating' in review %}
        {% for num in range(review['rating']) %}<span style='margin:0;'>🍕</span>{% endfor %}
      {% endif %}
    </div>
    <div>{{ review['name'] }}</div>
    </li>
{% endfor %}
</ul>
